body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(4, 28, 42);
    margin: 0;
    padding: 0;
    color: rgb(141, 140, 140);

}

h2 {
    text-align: center;
    color: white;
}

.navbar-container {
    display: flex;
    background-color: rgb(21, 20, 20);
    width: 100%;
    height: 100px;
    color: white;
    align-items: center;
}

.navbar-items-container{
    margin-left: auto;
    padding-right: 20px;
    display: flex;
    gap: 20px;
}

#logo {
    height: 100px;
    width: 300px;
}

.navbar-items {
    font-size: medium;
    color: rgb(236, 162, 4);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.5s;
}

.navbar-items:hover,
.cancel-btn:hover {
    background-color: rgb(236, 162, 4);
    color: rgb(21, 20, 20);

}

.home-img-container {

    width: 100%;
    height: 500px;
    background-image: url("music.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

}


#albums {
    font-weight: lighter;
    color:rgb(236, 162, 4);
    margin-top: 100px;
    
}

.albums-section {
    border: 4px solid rgb(37, 37, 37);;
    border-radius: 20px;
    margin: 50px;
    margin-bottom: 100px;
}

.header-container,
.album-container,
.search-artist-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid rgb(37, 37, 37);
    height: fit-content;

}

.header-container {
    padding: 50px;
}

.header-items {
    font-size: large;
    font-weight: bold;
    color: rgb(236, 162, 4);
    padding-left: 20px;
}

#action-section{
    text-align: center;
    padding-left: 0px;
}

.album-container,
.track-container {
    padding: 30px 50px;
}

.empty-album {
    text-align: center;
}

.album-items{
    color: rgb(141, 140, 140);
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.action-btn-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.action-btn,
.form-update,
.form-add-track,
.cancel-btn,
.add-album-btn,
.search-artist-btn {
    width: 100px;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    color: rgb(248, 248, 248);
    transition: 0.5s;
}

.search-artist-btn {
    justify-self: center;
    
}
#btn-view,
.add-album-btn,
.search-artist-btn {
    background-color: rgb(6, 84, 180);
}

#btn-update {
    background-color: rgb(1, 87, 50);
}

#btn-delete {
    background-color: rgb(114, 0, 0);
}

#btn-view:hover,
.add-album-btn:hover,
.search-artist-btn:hover {
    background-color: rgb(3, 103, 226);
}

#btn-update:hover {
    background-color: rgb(1, 176, 101);
}

#btn-delete:hover {
    background-color: rgb(204, 2, 2);
}

.pagination {

    display: flex;
    margin-top: 50px;
    align-self: center;
    justify-self: center;
    color: rgb(141, 140, 140);
    margin-bottom: 50px;
}

.pagination-btn {
    border: none;
    color: rgb(236, 162, 4);
    background-color: rgb(4, 28, 42);
    margin-right: 5px;
    text-decoration: none;
}

.next-btn {
    margin-left: 5px;
}


/*  View album page */

.headers{
    text-align: center;
    margin-top: 100px;
}

.album-title-h {
    color: rgb(236, 162, 4);
    font-size: larger;
    font-weight: lighter;
}

.track-title {
    color: rgb(236, 162, 4);
    font-size: large;
    text-align: center;
    border-bottom: 1px solid rgb(37, 37, 37);
    padding: 30px;
    margin: 0px;
}

.tracks-container {
    width: 800px;
    justify-self: center;
    border: 4px solid rgb(37, 37, 37);
    margin: 100px;
}


.track-container {
    border-bottom: 2px solid rgb(37, 37, 37);
}

/* update */

.update-form,
.add-album-form {
    width: 600px;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 100px;
    overflow: hidden;
}

.update-tracks-header {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: larger;
    width: 100%;
}


.form-field {
    width: 80%;
    padding: 15px;
}

.form-field:focus {
    outline: none;
    
}

.remove-track {
    padding: 17.5px 16px ;
    border: none;
    background-color: rgb(114, 0, 0);
    color: white;
    transition: 0.5s;
}

.edit-album-title {
    font-size: large;
    background-color: rgb(4, 28, 42);
    color: rgb(141, 140, 140);
    border: none;
    transition: 0.5s;

}

.edit-album-title:hover {
    background-color: rgb(4, 28, 42);
    color: white;
    border: none;

}

.album-title-field {
    justify-self: center;
    width: 100%;
}
.remove-track:hover {
    background-color: rgb(204, 2, 2);

}


.update-form-btn {
    margin-top: 50px;
    width: 80%;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.form-update,
.form-add-track {
    background-color: rgb(1, 87, 50);
    color: white;
    width: 200px;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.5s;

}

.form-update:hover {
    background-color: rgb(1, 176, 101);
}



.form-add-track {
    background-color: rgb(6, 84, 180);
    transition: 0.5s;

}


.form-add-track:hover {
    background-color: rgb(61, 138, 232);
}

.submit-track {
    background-color: rgb(168, 168, 4);
    margin-left: 5px;
    padding-left: 18px;
    padding-right: 18px;
    transition: 0.5s;
}

.submit-track:hover {
    background-color: rgb(219, 219, 4);
}

#message-empty {
    color: rgb(141, 140, 140);
    font-size:xx-large;
    padding-top: 100px;
    text-align: center;
}

.form-empty {
    display: block;
    justify-self: center;
    margin-top: 50px;
}

.hide-form {
    visibility: hidden;
}

.cancel-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.cancel-btn {
    background-color: rgb(21, 20, 20);
    color: rgb(236, 162, 4);
    padding: 15px 30px;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.5s;

}

/* album delete page */ 
.delete-album-form {
    justify-self: center;
    margin-bottom: 100px;
}
.delete-prompt {
    display: inline;
    margin-right: 10px;
}

.delete-album-btn {
    color: rgb(236, 162, 4);
    text-decoration: none;
    border: none;
    margin-right: 10px;
    font-size: large;
    transition: 0.5s;
}

.delete-album-btn:hover {
    color: white;
}

#confirm-delete-btn {
    border: none;
    background-color: rgb(4, 28, 42);
}

.hide-btn {
    visibility: hidden;
}

/* Add album page */
 
.add-album-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    overflow: hidden;
    
}

.add-album {
    width: 100%;
}

.add-album-btn,
.search-artist-btn {
    width: 200px;
    justify-self: center;
    margin: 10px;
}

/* Artist page */
.artist-page {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 2fr;
}

.view-artists-container {
    display: grid;
    grid-template-columns: 1fr;
}
.search-artist-container {
    grid-template-columns: 1fr;
    gap: 50px;
    align-items: center;
    border-bottom: none;
    padding-left: 30px;

}
.artists-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px 0px;
    margin-right: 30px;
    border-bottom: none;

}

.artist-row,
.album-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 30px;
    border: 0.5px solid rgb(37, 37, 37);
    padding: 15px 20px;

}

.artist-page-btn {
    text-decoration: none;
    border: none;
    font-size: medium;
    background-color: rgb(4, 28, 42);
    color: rgb(236, 162, 4);
    font-weight: lighter;

}

#search-artist-message {
    text-align: center;
    font-size:xx-large;
}

.search-artist {
    margin-bottom: 0px;
}

.add-artist-form-field {
    width: 87%;
}

.artist-form {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    width: 500px;
    overflow: hidden;
    align-items: center;
    justify-self: center;
}

.artist-update-field {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
}

#newTrack {
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 30px;
}

.add-track-field {
    width: 100%;
}








